<div style="text-align:center; margin-top:90px;">
    <h2 class="uppercase">Agents</h2>
    <p class="heading_space"> We are proud to present to you some of the best homes, apartments, offices e.g.
        across Pakistan for affordable prices.
    </p>
</div>

<!-- Agent Start -->
<section id="agent-2" class="padding_top padding_bottom_half">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 bottom40">
                <div class="agent_wrap">
                    <div class="image">
                        <img src="images/agent-one.jpg" alt="Agents">
                        <div class="img-info">
                            <h3>Kashi Ahmed</h3>
                            <span>sales executive</span>
                            <p class="top20 bottom30">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh tempor cum soluta nobis consectetuer.</p>
                            <table class="agent_contact table">
                                <tbody>
                                <tr class="bottom10">
                                    <td><strong>Phone:</strong></td>
                                    <td class="text-right">123456789</td>
                                </tr>
                                <tr>
                                    <td><strong>Email Adress:</strong></td>
                                    <td class="text-right"><a href="profile.html">kasif@zameenfouryou.com</a></td>
                                </tr>
                                </tbody>
                            </table>
                            <hr>
                            <a class="btn-more" href="agents_profile.html">
                                <i><img alt="arrow" src="images/arrow-yellow.png"></i><span>Full Profile</span><i><img alt="arrow" src="images/arrow-yellow.png"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 bottom40">
                <div class="agent_wrap">
                    <div class="image">
                        <img src="images/agent-two.jpg" alt="Agents">
                        <div class="img-info">
                            <h3>Kashi Ahmed</h3>
                            <span>sales executive</span>
                            <p class="top20 bottom30">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh tempor cum soluta nobis consectetuer.</p>
                            <table class="agent_contact table">
                                <tbody>
                                <tr class="bottom10">
                                    <td><strong>Phone:</strong></td>
                                    <td class="text-right">123456789</td>
                                </tr>
                                <tr>
                                    <td><strong>Email Adress:</strong></td>
                                    <td class="text-right"><a href="profile.html">kasif@zameenfouryou.com</a></td>
                                </tr>
                                </tbody>
                            </table>
                            <hr>
                            <a class="btn-more" href="agents_profile.html">
                                <i><img alt="arrow" src="images/arrow-yellow.png"></i><span>Full Profile</span><i><img alt="arrow" src="images/arrow-yellow.png"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 bottom40">
                <div class="agent_wrap">
                    <div class="image">
                        <img src="images/agent-three.jpg" alt="Agents">
                        <div class="img-info">
                            <h3>Kashi Ahmed</h3>
                            <span>sales executive</span>
                            <p class="top20 bottom30">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh tempor cum soluta nobis consectetuer.</p>
                            <table class="agent_contact table">
                                <tbody>
                                <tr class="bottom10">
                                    <td><strong>Phone:</strong></td>
                                    <td class="text-right">123456789</td>
                                </tr>
                                <tr>
                                    <td><strong>Email Adress:</strong></td>
                                    <td class="text-right"><a href="profile.html">kasif@zameenfouryou.com</a></td>
                                </tr>
                                </tbody>
                            </table>
                            <hr>
                            <a class="btn-more" href="agents_profile.html">
                                <i><img alt="arrow" src="images/arrow-yellow.png"></i><span>Full Profile</span><i><img alt="arrow" src="images/arrow-yellow.png"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 bottom40">
                <div class="agent_wrap">
                    <div class="image">
                        <img src="images/agent-four.jpg" alt="Agents">
                        <div class="img-info">
                            <h3>Kashi Ahmed</h3>
                            <span>sales executive</span>
                            <p class="top20 bottom30">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh tempor cum soluta nobis consectetuer.</p>
                            <table class="agent_contact table">
                                <tbody>
                                <tr class="bottom10">
                                    <td><strong>Phone:</strong></td>
                                    <td class="text-right">123456789</td>
                                </tr>
                                <tr>
                                    <td><strong>Email Adress:</strong></td>
                                    <td class="text-right"><a href="profile.html">kasif@zameenfouryou.com</a></td>
                                </tr>
                                </tbody>
                            </table>
                            <hr>
                            <a class="btn-more" href="agents_profile.html">
                                <i><img alt="arrow" src="images/arrow-yellow.png"></i><span>Full Profile</span><i><img alt="arrow" src="images/arrow-yellow.png"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 bottom40">
                <div class="agent_wrap">
                    <div class="image">
                        <img src="images/agent-five.jpg" alt="Agents">
                        <div class="img-info">
                            <h3>Kashi Ahmed</h3>
                            <span>sales executive</span>
                            <p class="top20 bottom30">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh tempor cum soluta nobis consectetuer.</p>
                            <table class="agent_contact table">
                                <tbody>
                                <tr class="bottom10">
                                    <td><strong>Phone:</strong></td>
                                    <td class="text-right">123456789</td>
                                </tr>
                                <tr>
                                    <td><strong>Email Adress:</strong></td>
                                    <td class="text-right"><a href="profile.html">kasif@zameenfouryou.com</a></td>
                                </tr>
                                </tbody>
                            </table>
                            </table>
                            <hr>
                            <a class="btn-more" href="agents_profile.html">
                                <i><img alt="arrow" src="images/arrow-yellow.png"></i><span>Full Profile</span><i><img alt="arrow" src="images/arrow-yellow.png"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 bottom40">
                <div class="agent_wrap">
                    <div class="image">
                        <img src="images/agent-six.jpg" alt="Agents">
                        <div class="img-info">
                            <h3>Kashi Ahmed</h3>
                            <span>sales executive</span>
                            <p class="top20 bottom30">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh tempor cum soluta nobis consectetuer.</p>
                            <table class="agent_contact table">
                                <tbody>
                                <tr class="bottom10">
                                    <td><strong>Phone:</strong></td>
                                    <td class="text-right">123456789</td>
                                </tr>
                                <tr>
                                    <td><strong>Email Adress:</strong></td>
                                    <td class="text-right"><a href="profile.html">kasif@zameenfouryou.com</a></td>
                                </tr>
                                </tbody>
                            </table>
                            <hr>
                            <a class="btn-more" href="agents_profile.html">
                                <i><img alt="arrow" src="images/arrow-yellow.png"></i><span>Full Profile</span><i><img alt="arrow" src="images/arrow-yellow.png"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Agent End -->


