
<!-- Page Banner Start-->
<!-- <section class="page-banner padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 class="text-uppercase">Login</h1>
                <p>Serving you since 1999. Lorem ipsum dolor sit amet consectetur adipiscing elit.</p>
                <ol class="breadcrumb text-center">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Pages</a></li>
                    <li class="active">Login</li>
                </ol>
            </div>
        </div>
    </div>
</section> -->
<!-- Page Banner End -->
<!-- Login -->
<style>
    .form {
  background: rgb(255, 255, 255);
  padding: 40px;
  max-width: 600px;
  margin: 40px auto;
  border-radius: 4px;
  -webkit-box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
          box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}
 .form .tab-content{
    background: transparent;
}

.tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
}
.tab-group:after {
  content: "";
  display: table;
  clear: both;
}
.tab-group li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: rgba(160, 179, 176, 0.25);
  color: #a0b3b0;
  font-size: 20px;
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}
.tab-group li a:hover {
  color: #ffffff;
}
.tab-group .active a {
  background:#5bc0de;
  color: #ffffff;
}

.tab-content > div:last-child {
  display: none;
}

h1 {
  text-align: center;
  color: #ffffff;
  font-weight: 300;
  margin: 0 0 40px;
}

label {
  position: absolute;
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
  left: 13px;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size: 20px;
}
label .req {
  margin: 2px;
  color: #670e06;
}

label.active {
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  left: 2px;
  font-size: 14px;
  color: #333;
}
label.active .req {
  opacity: 0;
}
input, textarea {
  font-size: 22px;
  display: block;
  width: 100%;
  padding: 5px 10px;
  background: none;
  background-image: none;
  border: 1px solid #a0b3b0;
  color: #333;
  border-radius: 0;
  -webkit-transition: border-color .25s ease, -webkit-box-shadow .25s ease;
  transition: border-color .25s ease, -webkit-box-shadow .25s ease;
  transition: border-color .25s ease, box-shadow .25s ease;
  transition: border-color .25s ease, box-shadow .25s ease, -webkit-box-shadow .25s ease;
}
input:focus, textarea:focus {
  outline: 0;
  border-color: #1ab188;
}

textarea {
  border: 2px solid #a0b3b0;
  resize: vertical;
}

.field-wrap {
  position: relative;
  margin-bottom: 40px;
}

.top-row:after {
  content: "";
  display: table;
  clear: both;
}
.top-row > div {
  float: left;
  width: 48%;
  margin-right: 4%;
}
.top-row > div:last-child {
  margin: 0;
}

.button {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 15px 0;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .1em;
  background: #5bc0de;
  color: #ffffff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-appearance: none;
}
.button-block {
  display: block;
  width: 100%;
}

.forgot {
  margin-top: -20px;
  text-align: right;
}
*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
</style>
    <div class="form">
      
      <ul class="tab-group">
          <li class="tab active"><a href=".login">Log In</a></li>
        <li class="tab"><a href=".signup">Sign Up</a></li>
      </ul>
      
      <div class="tab-content">
        <div class="login">   
          <h1 style="color: #333;">Sign in</h1>
          
          <form>
          
            <div class="field-wrap">
            <label>
              Email Address<span class="req">*</span>
            </label>
            <input type="email" required autocomplete="off" ng-model="user.userName"/>
          </div>
          
          <div class="field-wrap">
            <label>
              Password<span class="req">*</span>
            </label>
            <input type="password" required autocomplete="off" ng-model="user.password"/>
          </div>
          
          <p class="forgot"><a href="#">Forgot Password?</a></p>
          
          <button ng-click="signIN()"  class="button button-block">Log In</button>
          
          </form>

        </div>
          <div class="signup">   
          <h1>Sign Up for Free</h1>
          
          <form>
          
          <div class="top-row">
            <div class="field-wrap">
              <label>
               First Name<span class="req">*</span>
              </label>
              <input type="text" required ng-model="user.userName" autocomplete="off" />
            </div>
        
            <div class="field-wrap">
              <label>
                Last Name<span class="req">*</span>
              </label>
              <input type="text" required  autocomplete="off"/>
            </div>
          </div>

          <div class="field-wrap">
            <label>
              Email Address<span class="req">*</span>
            </label>
            <input type="email" required ng-model="user.email"/>
          </div>
          
          <div class="field-wrap">
            <label>
            Password<span class="req">*</span>
            </label>
            <input type="password" ng-model="user.password" required autocomplete="off"/>
          </div>
             <div class="field-wrap">
            <label>
              Confirm Password<span class="req">*</span>
            </label>
            <input type="password" ng-model="user.cPassword" required autocomplete="off"/>
          </div>
          
          <button type="submit" ng-click="signUP()"  class="button button-block">Get Started</button>
          
          </form>

        </div>
      </div><!-- tab-content -->
      
</div>
<!-- <section id="login" class="padding">
    <div class="container">
        <h3 class="hidden">hidden</h3>
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="profile-login">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href=".home" aria-controls="home" role="tab" data-toggle="tab">Login</a></li>
                        <li role="presentation"><a href=".profile" aria-controls="profile" role="tab" data-toggle="tab">Register</a></li>
                    </ul>
                    <div class="tab-content padding_half">
                        <div role="tabpanel" class="tab-pane fade in active home">
                            <div class="agent-p-form">

                                    <div class="single-query form-group col-sm-12">
                                        <input type="text" class="keyword-input" placeholder="username" ng-model="user.userName">
                                    </div>
                                    <div class="single-query form-group  col-sm-12">
                                        <input type="password" class="keyword-input" placeholder="Password" ng-model="user.password">
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="col-sm-6">
                                                <div class="search-form-group white form-group text-left">
                                                    <div class="check-box-2"><i><input type="checkbox" name="check-box"></i></div>
                                                    <span>Remember Me</span>
                                                </div>
                                            </div>
                                            <div class="col-sm-6 text-right">
                                                <a href="#" class="lost-pass">Lost your password?</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class=" col-sm-12" >
                                        <button ng-click="signIN()" class="btn-slide border_radius">submint now</button>
                                    </div>

                            </div>
                        </div>
                        <div  class="tab-pane fade profile">
                            <div class="agent-p-form">
                                <form class="callus clearfix">
                                    <div class="single-query col-sm-12 form-group">
                                        <input type="text" class="keyword-input" ng-model="user.userName" placeholder="username" required>
                                    </div>
                                    <div class="single-query col-sm-12 form-group">
                                        <input type="email" class="keyword-input" ng-model="user.email" placeholder="Email Address">
                                    </div>
                                    <div class="single-query col-sm-12 form-group">
                                        <input type="password" class="keyword-input" ng-model="user.password" placeholder="Password">
                                    </div>
                                    <div class="single-query col-sm-12 form-group">
                                        <input type="password" class="keyword-input"  ng-model="user.cPassword" placeholder="Confirm  Password" >
                                    </div>
                                    <div class="search-form-group white col-sm-12 form-group text-left">
                                        <div class="check-box-2"><i><input type="checkbox" name="check-box"></i></div>
                                        <span>Receive Newsletter</span>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                                        <div class="query-submit-button">
                                            <input ng-click="signUP()"  value="Creat an Account" class="btn-slide">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section> -->
    <script>
        $('.form').find('input, textarea').on('keyup blur focus', function (e) {
  
  var $this = $(this),
      label = $this.prev('label');

      if (e.type === 'keyup') {
            if ($this.val() === '') {
          label.removeClass('active highlight');
        } else {
          label.addClass('active highlight');
        }
    } else if (e.type === 'blur') {
        if( $this.val() === '' ) {
            label.removeClass('active highlight'); 
            } else {
            label.removeClass('highlight');   
            }   
    } else if (e.type === 'focus') {
      
      if( $this.val() === '' ) {
            label.addClass('active highlight'); 
            } 
      else if( $this.val() !== '' ) {
            label.addClass('active highlight');
            }
    }
});

$('.tab a').on('click', function (e) {
  
  e.preventDefault();
  
  $(this).parent().addClass('active');
  $(this).parent().siblings().removeClass('active');
  
  target = $(this).attr('href');

  $('.tab-content > div').not(target).hide();
  
  $(target).fadeIn(600);
  
});
    </script>
<!-- Login end -->