<!-- Profile Start -->
<section id="agent-2-peperty" class="profile padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="f-p-links margin_bottom">
                    <li><a ng-click="clickToView('profile')" class="active"><i class="icon-icons230"></i>Profile</a></li>
                    <li><a ng-click="clickToView('myProperties')"><i class="icon-icons215"></i> My Properties</a></li>
                    <li><a ng-click="clickToView('submitProperty')"><i class="icon-icons215"></i> Submit Property</a></li>
                    <li><a ng-click="clickToView('saveProperty')"><i class="icon-icons43"></i> Save Properties</a></li>
                    <li><a ng-click="clickToView('login')"><i class="icon-lock-open3"></i>Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-3">
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <h2 class="text-uppercase bottom30">my profile</h2>
                <div class="agent-p-img">
                    <img height="70" width="70" ng-src="{{user.image}}" />
                    update profile picture
                    <input type='file' ng-model-instant onchange="angular.element(this).scope().imageUpload(event)"  />
                    <!--<a class="top10 bottom20"  data-toggle="modal" data-target="#uploadModal">Update Profile Picture</a>-->

                </div>
            </div>
            <div class="col-md-8">
                <div class="profile-form">
                    <div class="row">
                        <form class="callus">
                            <div class="col-sm-4">
                                <div class="single-query">
                                    <label>Your Name:</label>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="single-query form-group">
                                    <input type="text"  ng-model="user.userName" class="keyword-input">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="single-query">
                                    <label>Phone:</label>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="single-query form-group">
                                    <input type="text" ng-model="user.contact" class="keyword-input">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="single-query">
                                    <label>Mobile:</label>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="single-query form-group">
                                    <input type="text" ng-model="user.contact" class="keyword-input">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="single-query">
                                    <label>Email Adress:</label>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="single-query form-group">
                                    <input type="email" ng-model="user.email" class="keyword-input">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="single-query">
                                    <label>Skype:</label>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="single-query form-group">
                                    <input type="text" placeholder="bohdan.kononets" class="keyword-input">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="single-query">
                                    <label>About:</label>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="single-query form-group">
                                    <textarea ng-model="user.about" class="form-control"></textarea>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12 text-right">
                                <a class="btn-blue border_radius" ng-click="saveUser()">Save Changes</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-sm-6 col-xs-12 profile-form margin40">
                <h3 class="bottom30 margin40">My Social Network</h3>
                <div class="row">
                    <form class="callus">
                        <div class="col-sm-4">
                            <div class="single-query">
                                <label>Facebook:</label>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="single-query form-group">
                                <input type="text" placeholder="http://facebook.com" ng-model="user.facebook" class="keyword-input">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="single-query">
                                <label>Twitter:</label>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="single-query form-group">
                                <input type="text" placeholder="http://twitter.com" ng-model="user.twitter" class="keyword-input">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="single-query">
                                <label>Google Plus:</label>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="single-query form-group">
                                <input type="text" placeholder="http://google-plus.com" class="keyword-input">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="single-query">
                                <label>Linkedin:</label>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="single-query form-group">
                                <input type="text" placeholder="http://linkedin.com" ng-model="user.linkedIn" class="keyword-input">
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 text-right">
                            <a class="btn-blue border_radius" ng-click="saveUser()">Save Changes</a>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-2 hidden-xs"></div>
            <div class="col-md-5 col-sm-6 col-xs-12 profile-form margin40" >
                <h3 class=" bottom30 margin40">Change Your Password</h3>
                <div class="row">
                    <form class="callus">
                        <div class="col-sm-4">
                            <div class="single-query">
                                <label style="font-size: 15px;">Current Password:</label>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="single-query form-group">
                                <input type="password" class="keyword-input" ng-model="user.password">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="single-query">
                                <label style="font-size: 15px;">New Password:</label>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="single-query form-group">
                                <input type="password" class="keyword-input" ng-model="password">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="single-query">
                                <label style="font-size: 15px;">Confirm Password:</label>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="single-query form-group">
                                <input type="password" class="keyword-input" ng-model="cPassword">
                            </div>
                        </div>
                        <div class="col-sm-12 text-right">
                            <a class="btn-blue border_radius" ng-click="changePassword()">Save Changes</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="uploadModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">File upload form</h4>
                </div>
                <div class="modal-body">
                    <!-- Form -->
                    <form method='post' action='' enctype="multipart/form-data">
                        Select file : <input type='file' name='file' id='file' class='form-control' ><br>
                        <input  type='button' class='btn btn-info' value='Upload' id='upload'>
                    </form>

                    <!-- Preview-->
                    <div id='preview'></div>
                </div>

            </div>

        </div>
    </div>
</section>
<!-- Profile end -->