<style>
    .agent-p-img{
            width: 150px;
    height: 150px;
    border: 5px solid #5bc0de;
    float: left;
    }
   .agent-p-img img{
            width: 100%;
    height: 140px;
    }
    .file-upload {
    display: none;
}
.upload-container{
        /*position: absolute;*/
    bottom: -17px;
    left: 0px;
    text-align: center;
}
.fa-camera{
    cursor: pointer;
}
</style>

<!-- Profile Start -->
<section id="agent-2-peperty" class="profile padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="f-p-links margin_bottom">
                    <li><a ng-click="clickToView('profile')" class="active"><i class="icon-icons230"></i>Profile</a></li>
                    <li><a ng-click="clickToView('myProperties')"><i class="icon-icons215"></i> My Properties</a></li>
                    <li><a ng-click="clickToView('submitProperty')"><i class="icon-icons215"></i> Submit Property</a></li>
                    <li><a ng-click="clickToView('saveProperty')"><i class="icon-icons43"></i> Save Properties</a></li>
                    <li><a ng-click="clickToView('login')"><i class="icon-lock-open3"></i>Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <h2 class="text-uppercase m-t-0">Edit profile</h2>
        <hr>
        <div class="row p-t-20">
            <div class="col-md-2 col-xs-2">
                
                <div class="agent-p-img">
                    <img class="profile-pic"  height="70" width="70" ng-src="{{user.image}}" />


                  
                    <!--<a class="top10 bottom20"  data-toggle="modal" data-target="#uploadModal">Update Profile Picture</a>-->
  <span class="upload-container">
              <i class="fa fa-camera upload-button" data-toggle="tooltip" title="Edit profile picture" data-placement="bottom"></i>
                    <input class="file-upload" style="visibility: hidden" type='file' ng-model-instant onchange="angular.element(this).scope().imageUpload(event)"  />
                           
                </span>
                </div>
          <!--       <div style="margin-left: 170px;">
                <div style="position: absolute;bottom: 0;">
                <p class="m-b-0">Real state consultant</p>
                <p>Lahore</p>
            </div>
        </div> -->
              
            </div>
            <div class="col-md-5 col-xs-5">
                <div class="profile-form">
                    <div class="row">
                        <form class="callus">
                            <div class="col-sm-12">
                              <!--   <div class="single-query form-group">
                                    <input type="text"  ng-model="user.userName" class="keyword-input">
                                </div> -->

                                 <div class="group m-t-0">
                                          <input class="m-t-0" type="text" ng-model="user.userName" required><span class="highlight"></span><span class="bar"></span>
                                            <label>Your name</label>
                                        </div>
                            </div>
                            <div class="col-sm-12">
                                <!-- <div class="single-query form-group">
                                    <input type="text" ng-model="user.contact" class="keyword-input">
                                </div> -->
                                <div class="group m-t-20 m-b-10">
                                          <input class="m-t-0" type="number" ng-model="user.contact" required><span class="highlight"></span><span class="bar"></span>
                                            <label>Phone Number</label>
                                        </div>
                            </div>
                          <!--   <div class="col-sm-4">
                                <div class="single-query">
                                    <label>Mobile:</label>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="single-query form-group">
                                    <input type="text" ng-model="user.contact" class="keyword-input">
                                </div>
                            </div> -->
                            <div class="col-sm-12">
                               <!--  <div class="single-query form-group">
                                    <input type="email" ng-model="user.email" class="keyword-input">
                                </div> -->

                                  <div class="group m-t-20 m-b-10">
                                          <input class="m-t-0" type="text" ng-model="user.email" required><span class="highlight"></span><span class="bar"></span>
                                            <label>Email address</label>
                                        </div>
                            </div>
                            <div class="col-sm-12">
                               <!--  <div class="single-query form-group">
                                    <input type="text" placeholder="bohdan.kononets" class="keyword-input">
                                </div> -->

                                <div class="group m-t-20 m-b-10">
                                          <input class="m-t-0" type="text" required><span class="highlight"></span><span class="bar"></span>
                                            <label>Skype</label>
                                        </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="single-query form-group m-t-20">
                              <!--       <textarea ng-model="user.about" class="form-control"></textarea> -->

                                    <textarea ng-model="user.about"  class="form-control" rows="5" placeholder="About" style="border:1px solid #5bc0de!important"></textarea>
                                </div>
                            </div>
                           <!--  <div class="col-md-12 col-sm-12 col-xs-12 text-right">
                                <a class="btn-blue border_radius" ng-click="saveUser()">Save Changes</a>
                            </div> -->
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-5 col-sm-6 col-xs-12 profile-form margin40" >
                <div class="row">
                    <form class="callus">
                        <div class="col-sm-12">
                            <!-- <div class="single-query form-group">
                                <input type="password" class="keyword-input" ng-model="user.password">
                            </div> -->

                             <div class="group m-t-0">
                                          <input class="m-t-0" type="password" ng-model="user.password" required><span class="highlight"></span><span class="bar"></span>
                                            <label>Current Password</label>
                                        </div>
                        </div>
                        <div class="col-sm-12">
                            <!-- <div class="single-query form-group">
                                <input type="password" class="keyword-input" ng-model="password">
                            </div> -->

                              <div class="group m-t-20 m-b-10">
                                          <input class="m-t-0" type="password" ng-model="password" required><span class="highlight"></span><span class="bar"></span>
                                            <label>New Password</label>
                                        </div>
                        </div>
                        <div class="col-sm-12">
                            <!-- <div class="single-query form-group">
                                <input type="password" class="keyword-input" ng-model="cPassword">
                            </div> -->
                             <div class="group m-t-20 m-b-10">
                                          <input class="m-t-0" type="password" ng-model="cPassword" required><span class="highlight"></span><span class="bar"></span>
                                            <label>Confirm Password</label>
                                        </div>
                        </div>

                            <div class="col-sm-12">
                             <div class="group m-t-20 m-b-10">
                                          <input class="m-t-0" type="text" ng-model="user.facebook" required><span class="highlight"></span><span class="bar"></span>
                                            <label>Facebook Adress</label>
                                        </div>
                        </div>
                              <div class="col-sm-12">
                             <div class="group m-t-20 m-b-10">
                                          <input class="m-t-0" type="text" ng-model="user.twitter" required><span class="highlight"></span><span class="bar"></span>
                                            <label>Twitter Adress</label>
                                        </div>
                        </div>
                                   <div class="col-sm-12">
                             <div class="group m-t-20 m-b-10">
                                          <input class="m-t-0" type="text" ng-model="user.linkedIn" required><span class="highlight"></span><span class="bar"></span>
                                            <label>Linkedin Adress</label>
                                        </div>
                        </div>
                        <!-- <div class="col-sm-12 text-right">
                            <a class="btn-blue border_radius" ng-click="changePassword()">Save Changes</a>
                        </div> -->
                    </form>
                </div>
            </div>
        </div>
          <div class="col-md-12 col-sm-12 col-xs-12 text-right no-padding m-t-20">
                                <a class="btn-blue border_radius" ng-click="saveUser()">Save Changes</a>
                            </div>
    </div>
    <div class="container">
        <div class="row">
           <!--  <div class="col-md-5 col-sm-6 col-xs-12 profile-form margin40">
                <h3 class="bottom30 margin40">My Social Network</h3>
                <div class="row">
                    <form class="callus">
                        <div class="col-sm-4">
                            <div class="single-query">
                                <label>Facebook:</label>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="single-query form-group">
                                <input type="text" placeholder="http://facebook.com" ng-model="user.facebook" class="keyword-input">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="single-query">
                                <label>Twitter:</label>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="single-query form-group">
                                <input type="text" placeholder="http://twitter.com" ng-model="user.twitter" class="keyword-input">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="single-query">
                                <label>Google Plus:</label>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="single-query form-group">
                                <input type="text" placeholder="http://google-plus.com" class="keyword-input">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="single-query">
                                <label>Linkedin:</label>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="single-query form-group">
                                <input type="text" placeholder="http://linkedin.com" ng-model="user.linkedIn" class="keyword-input">
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 text-right">
                            <a class="btn-blue border_radius" ng-click="saveUser()">Save Changes</a>
                        </div>
                    </form>
                </div>
            </div> -->
         <!--    <div class="col-md-2 hidden-xs"></div>
            <div class="col-md-5 col-sm-6 col-xs-12 profile-form margin40" >
                <h3 class=" bottom30 margin40">Change Your Password</h3>
                <div class="row">
                    <form class="callus">
                        <div class="col-sm-4">
                            <div class="single-query">
                                <label style="font-size: 15px;">Current Password:</label>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="single-query form-group">
                                <input type="password" class="keyword-input" ng-model="user.password">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="single-query">
                                <label style="font-size: 15px;">New Password:</label>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="single-query form-group">
                                <input type="password" class="keyword-input" ng-model="password">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="single-query">
                                <label style="font-size: 15px;">Confirm Password:</label>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="single-query form-group">
                                <input type="password" class="keyword-input" ng-model="cPassword">
                            </div>
                        </div>
                        <div class="col-sm-12 text-right">
                            <a class="btn-blue border_radius" ng-click="changePassword()">Save Changes</a>
                        </div>
                    </form>
                </div>
            </div> -->
        </div>
    </div>
    <div id="uploadModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">File upload form</h4>
                </div>
                <div class="modal-body">
                    <!-- Form -->
                    <form method='post' action='' enctype="multipart/form-data">
                        Select file : <input type='file' name='file' id='file' class='form-control' ><br>
                        <input  type='button' class='btn btn-info' value='Upload' id='upload'>
                    </form>

                    <!-- Preview-->
                    <div id='preview'></div>
                </div>

            </div>

        </div>
    </div>
</section>
<script>

    
    var readURL = function(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('.profile-pic').attr('src', e.target.result);
            }
    
            reader.readAsDataURL(input.files[0]);
        }
    }
    

    $(".file-upload").on('change', function(){
        readURL(this);
    });
    
    $(".upload-button").on('click', function() {
       $(".file-upload").click();
    });
     $('[data-toggle="tooltip"]').tooltip(); 
</script>
<!-- Profile end -->